.con{
    position: absolute;
    margin-bottom: -15%;
}

.abo{
    margin-left: 1.3%;
    font-size: 300%;
    font-weight: 800;
}

.l1{
    font-weight: 800;
    font-size: 95%;
    margin-left: 3%;
}