.bod{
    position: absolute;
}

.wel{
    font-size: 200%;
    margin-left: 40%;
    font-weight: 700;
}

.well{
    position: absolute;
    font-size: 200%;
    margin-left: 52.2%;
    margin-top: -3.6%;
    color: #EA516F;
    font-weight: 700;
}

.desc{
    font-size: 150%;
    color: #EA516F;
    font-weight: 800;
    margin-top: 0%;
    margin-left: 3%;
}

.head{
    font-size: 130%;
    font-weight: 800;
    margin-left: 75%;
    color: #EA516F;
}

.lor{
    color: #EDEDED;
    margin-left: 1.5%;
}

.lor2{
    color: #EDEDED;
    margin-left: 1.5%;
}

.head2{
    font-size: 130%;
    font-weight: 800;
    margin-left: 5%;
    color: #ea516f;
}

.btn{
    margin-left: 37%;
    margin-top: 1.5%;
    width: 20%;
    height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    border: 2px solid #EA516F ;
    background-color: transparent;
    color: #EDEDED;
}

.btn:hover{
    width: 22%;
    height: 6vh;
    cursor: pointer;
    color: #EA516F;
}